body { 
    margin: 0.5in;
    font-family: 'Roboto', sans-serif;
}

body div {
    margin-top: 0.25in;
    margin-left: 0.5in;
}

div#div_flickr_id {
    margin-left: 0.5in;
    display: none;
}

div#div_flickr_id_valid {
    display: none;
}

div#div_flickr_id_none {
    margin-left: 0.5in;
    display: none;
}

div#div_new_requests {
    display: none;
}

div#div_outstanding_requests {
    display: none;
}

div#div_app_stats {
    display: none;
}

table#table_fga_outstanding_requests {
    border: 1px solid black;
    border-collapse: collapse;
}

button#button_change_url {
    display: none;
}

table#table_picture_groups {
    margin-top: 0.25in;
    margin-left: 0.5in;
    display: none;
    border: 1px solid black;
    border-collapse: collapse;
}

table#table_picture_groups tr td {
    border: 1px solid black;
    padding: 0.1in;
    font-size: small;
}

table#table_picture_groups tr.header_row td {
    background-color: #222222;
    text-color: white;
    font-weight: bold;
}
