body { 
    margin: 0.5in;
    font-family: 'Roboto', sans-serif;
}

body div {
    margin-left: 0.5in;
}

body div div {
    margin-left: 1.0in;
}

div#div_flickr_id_valid {
    display: none;
}

div#div_flickr_id_none {
    display: none;
}
