body { 
    margin: 0.5in;
    font-family: 'Roboto', sans-serif;
}

body div {
    margin-top: 0.25in;
    margin-left: 0.5in;
}

div#div_flickr_id {
    margin-left: 0.5in;
    display: none;
}

div#div_flickr_id_valid {
    display: none;
}

div#div_flickr_id_none {
    margin-left: 0.5in;
    display: none;
}

div#div_new_requests {
    display: none;
}

div#div_outstanding_requests {
    display: none;
}

div#div_app_stats {
    display: none;
}

button#button_change_url {
    display: none;
}

table#table_picture_groups {
    margin-top: 0.25in;
    margin-left: 0.5in;
    display: none;
    border: 1px solid black;
    border-collapse: collapse;
}

table#table_picture_groups tr td {
    border: 1px solid black;
    padding: 0.05in;
    font-size: x-small;
}

table#table_picture_groups tr.header_row td {
    background-color: #666666;
    color: white;
    font-weight: bold;
}

table#table_picture_groups tr.pic_in_group td {
    background-color: green;
    color: white;
}

table#table_picture_groups tr.pic_not_in_group td {
    cursor: pointer;
};

table#table_picture_groups tr.processing_group_add td {
    background-color: cyan;
}

table#table_fga_outstanding_requests tr td {
    padding: 0.05in;
    font-size: small;
}

table#table_fga_outstanding_requests tr:nth-child(2n+1) td {
    background-color: #cccccc;
}

table#table_fga_outstanding_requests tr.header_row td {
    background-color: #666666;
    color: white;
    font-weight: bold;
}
